* {
  box-sizing: border-box;
}

html, body {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: 'ARIAL', sans-serif;
  background-color: rgb(12, 21, 29);
  color: rgb(177, 191, 212);
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /*max-width: 75rem;*/
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .wrapper {
    max-width: 50rem;
  }
}

@media (max-width: 900px) {
  .wrapper {
    max-width: 45rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 37rem;
  }
}

@media (max-width: 599px) {
  .wrapper {
    max-width: 26rem;
  }
}

@media (max-width: 480px) {
  .wrapper {
    max-width: 19rem;
  }
}

.main {
  width: 100%;
  height: max-content;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 55rem;
  margin: 0 auto;
  font-size: 1.5rem;
  row-gap: 2rem;
}

@media (max-width: 768px) {
  .main-content {
    font-size: 1.5rem;
  }
}

input {
  display: none;
}

.slider__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 55rem;
  overflow: hidden;
  background-color: rgb(120, 93, 148);
  box-shadow: 0 0 0.4rem rgba(255, 255, 255, 1) inset;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: 0.7s;
}

img {
  width: 60rem;
}

@media (max-width: 1024px) {
  img {
    width: 50rem;
  }
}

@media (max-width: 900px) {
  img {
    width: 45rem;
  }
}

@media (max-width: 768px) {
  img {
    width: 37rem;
  }
}

@media (max-width: 599px) {
  img {
    width: 26rem;
  }
}

@media (max-width: 480px) {
  img {
    width: 19rem;
  }
}

.slider__panel-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  max-width: 60rem;
  align-items: flex-start;
}

@media (max-width: 767px) {
  .slider__panel-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    row-gap: 2rem;
  }
}

.slider__text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 6rem;
  overflow: hidden;
}

@media (max-width: 767px) {
  .slider__text-wrapper {
    order: 1;
  }
}

.slider__text {
  min-width:100%;
  min-height: 6rem;
  transition: 0.7s;
}

.slider__controls-wrapper {
  display: grid;
  justify-content: flex-end;
  align-items: flex-start;
  grid-template-columns: repeat(5, 2rem);
}

@media (max-width: 767px) {
  .slider__controls-wrapper {
    justify-content: center;
    /*margin-top: 1rem;*/
  }
}

.control {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 0.4rem;
  cursor: pointer;
}

.control__btn{
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border: 0.15rem solid rgb(120, 93, 148);
  border-radius: 0.6rem;
}

.control:hover .control__btn {
  box-shadow: 0 0 0.4rem rgba(255, 255, 255, 0.8);
}

.control:active .control__btn {
  background-color: rgb(120, 93, 148);
}

input#radio1:checked ~ .slider__wrapper > .slide,
input#radio1:checked ~ .slider__panel-wrapper > .slider__text-wrapper > .slider__text {
  transform: translate(0);
}

input#radio2:checked ~ .slider__wrapper > .slide,
input#radio2:checked ~ .slider__panel-wrapper > .slider__text-wrapper > .slider__text {
  transform: translate(-100%);
}

input#radio3:checked ~ .slider__wrapper > .slide,
input#radio3:checked ~ .slider__panel-wrapper > .slider__text-wrapper > .slider__text {
  transform: translate(-200%);
}

input#radio4:checked ~ .slider__wrapper > .slide,
input#radio4:checked ~ .slider__panel-wrapper > .slider__text-wrapper > .slider__text {
  transform: translate(-300%);
}

input#radio5:checked ~ .slider__wrapper > .slide,
input#radio5:checked ~ .slider__panel-wrapper > .slider__text-wrapper > .slider__text {
  transform: translate(-400%);
}

input#radio1:checked ~ .slider__panel-wrapper> .slider__controls-wrapper > label[for="radio1"] > .control__btn,
input#radio2:checked ~ .slider__panel-wrapper> .slider__controls-wrapper > label[for="radio2"] > .control__btn,
input#radio3:checked ~ .slider__panel-wrapper> .slider__controls-wrapper > label[for="radio3"] > .control__btn,
input#radio4:checked ~ .slider__panel-wrapper> .slider__controls-wrapper > label[for="radio4"] > .control__btn,
input#radio5:checked ~ .slider__panel-wrapper> .slider__controls-wrapper > label[for="radio5"] > .control__btn {
  background-color: rgb(120, 93, 148);
}