* {
  box-sizing: border-box;
}

html, body {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: 'ARIAL', sans-serif;
  background-color: rgb(12, 21, 29);
  color: bisque;
  scroll-behavior: smooth;
}

.wrapper {
 max-width: 1200px;
 margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  row-gap: 1rem;
}

input {
  display: none;
}

.slider__wrapper {
  display: flex;
  flex-direction: row;
  width: 70rem;
  height: 45rem;
  overflow: hidden;
}

@media (max-width: 1024px) {

}

@media (max-width: 767px) {
  
}

.slide {
  width: 100%;
  transition: 0.7s;
}

img {
  width: 70rem;
}

@media (max-width: 1024px) {

}

@media (max-width: 767px) {
  
}

.slider__panel-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 4rem;
}

.slider__text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 5rem;
  overflow: hidden;
}

.slider__text {
  min-width:100%;
  min-height: 5rem;
  transition: 0.7s;
}

.slider__controls-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 3rem;
  cursor: pointer;
}

.control__btn{
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.15rem solid rgb(120, 93, 148);
  border-radius: 0.75rem;
}

.control:hover .control__btn {
  box-shadow: 0 0 0.4rem rgba(255, 255, 255, 0.8);
}

.control:active .control__btn {
  background-color: rgb(120, 93, 148);
}

input#radio1:checked ~ .slider__wrapper > .slide,
input#radio1:checked ~ .slider__panel-wrapper > .slider__text-wrapper > .slider__text {
  transform: translate(0);
}

input#radio2:checked ~ .slider__wrapper > .slide,
input#radio2:checked ~ .slider__panel-wrapper > .slider__text-wrapper > .slider__text {
  transform: translate(-100%);
}

input#radio3:checked ~ .slider__wrapper > .slide,
input#radio3:checked ~ .slider__panel-wrapper > .slider__text-wrapper > .slider__text {
  transform: translate(-200%);
}

input#radio4:checked ~ .slider__wrapper > .slide,
input#radio4:checked ~ .slider__panel-wrapper > .slider__text-wrapper > .slider__text {
  transform: translate(-300%);
}

input#radio5:checked ~ .slider__wrapper > .slide,
input#radio5:checked ~ .slider__panel-wrapper > .slider__text-wrapper > .slider__text {
  transform: translate(-400%);
}

input#radio1:checked ~ .slider__panel-wrapper> .slider__controls-wrapper > label[for="radio1"] > .control__btn,
input#radio2:checked ~ .slider__panel-wrapper> .slider__controls-wrapper > label[for="radio2"] > .control__btn,
input#radio3:checked ~ .slider__panel-wrapper> .slider__controls-wrapper > label[for="radio3"] > .control__btn,
input#radio4:checked ~ .slider__panel-wrapper> .slider__controls-wrapper > label[for="radio4"] > .control__btn,
input#radio5:checked ~ .slider__panel-wrapper> .slider__controls-wrapper > label[for="radio5"] > .control__btn {
  background-color: rgb(120, 93, 148);
}