* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: rgb(49, 49, 49);
  color: rgb(255, 252, 61);
  font-size: 1rem;
  font-family: 'JetBrains Mono', sans-serif;
}

@media (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }
}

.wrapper {
  max-width: 75rem;
  height: 100%;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  width: 65%;
}

@media (max-width: 768px) {
  .main-content {
    width: 80%;
  }
}

.radio {
  display: none;
}

.slider__wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  background:#fff;
  box-shadow: 0 0 0.625rem black;
  border-radius: 00.4rem;
}

.slide {
  display: flex;
  align-items: center;
  min-width: 100%;
  transition: 0.7s;
}

.slide img {
  width: 100%;
}

.slider__panel-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  max-width: 60rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .slider__panel-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    row-gap: 1rem;
  }
}

.slider__text-wrapper {
  display: flex;
  flex-direction: row;
  
  height: 4rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  .slider__text-wrapper {
    order: 1;
  }
}

.slider__text {
  min-width: 100%;
  margin-top: 0.4rem;
  transition: 0.7s;
}

@media (max-width: 768px) {
  .slider__text {
    margin-top: 0;
  }
}

.slider__controls-wrapper {
  display: grid;
  justify-content: flex-end;
  align-items: flex-start;
  grid-template-columns: repeat(5, 2rem);;
}

@media (max-width: 768px) {
  .slider__controls-wrapper {
    justify-content: center;
  }
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.2rem;
  cursor: pointer;
}

.control__btn{
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border: 0.15rem solid rgba(255, 255, 255, 0.5);
  border-radius: 0.6rem;
}

.control:hover .control__btn {
  box-shadow: 0 0 0.4rem rgba(255, 255, 255, 0.8);
}

.control:active .control__btn {
  background-color: rgb(255, 252, 61);
}

input#radio1:checked ~ .slider__wrapper > .slide,
input#radio1:checked ~ .slider__panel-wrapper > .slider__text-wrapper > .slider__text {
  transform: translate(0);
}

input#radio2:checked ~ .slider__wrapper > .slide,
input#radio2:checked ~ .slider__panel-wrapper > .slider__text-wrapper > .slider__text {
  transform: translate(-100%);
}

input#radio3:checked ~ .slider__wrapper > .slide,
input#radio3:checked ~ .slider__panel-wrapper > .slider__text-wrapper > .slider__text {
  transform: translate(-200%);
}

input#radio4:checked ~ .slider__wrapper > .slide,
input#radio4:checked ~ .slider__panel-wrapper > .slider__text-wrapper > .slider__text {
  transform: translate(-300%);
}

input#radio5:checked ~ .slider__wrapper > .slide,
input#radio5:checked ~ .slider__panel-wrapper > .slider__text-wrapper > .slider__text {
  transform: translate(-400%);
}

input#radio1:checked ~ .slider__panel-wrapper> .slider__controls-wrapper > label[for="radio1"] > .control__btn,
input#radio2:checked ~ .slider__panel-wrapper> .slider__controls-wrapper > label[for="radio2"] > .control__btn,
input#radio3:checked ~ .slider__panel-wrapper> .slider__controls-wrapper > label[for="radio3"] > .control__btn,
input#radio4:checked ~ .slider__panel-wrapper> .slider__controls-wrapper > label[for="radio4"] > .control__btn,
input#radio5:checked ~ .slider__panel-wrapper> .slider__controls-wrapper > label[for="radio5"] > .control__btn {
  background-color: rgb(255, 252, 61);
}
